<div class="login-page">

  <div class="form">
    <div class="logo">
      <img class="logo" src="../../assets/immagini/logo-listaSpesa.png" alt="logo">
      <p></p>
    </div>
    <form class="login-form"  >
      <p></p>
      <input type="text" placeholder="username" #username  required formControlName="username"/>
      <input type="password" placeholder="password" #password required formControlName="password"/>
      <button (click)="login(username.value, password.value)">ACCEDI</button>
      <button (click)="registrati()">REGISTRATI</button>

    </form>
  </div>
</div>
