<div class="caratteristiche">
    <div id="header">
        <a href="/home" class="logo">
            <img class="logo" src="../../assets/logo-listaSpesa.png" alt="">
        </a>

        <ul id="navigation">
            <li>
                <a href="/home">home</a>
            </li>
            <li>
                <a href="/lista">lista</a>
            </li>
            <li class="selected">
                <a href="/blog">blog</a>
            </li>
            <li>
                <a href="/contact">contact</a>
            </li>
        </ul>
    </div>

    <div id="body">
        <h1><span>blog i nostri articoli</span></h1>
        <div>
            <br><br>

            <p class="blog">PUBBLICATO IL 15 MAGGIO 2020</p>

            <img class="blogPost" src="../../assets/wine-1.jpg" alt="">

            <div class="article">
                <h2 class="blog">I SOLFITI NEI VINI SONO PERICOLOSI?</h2>
                <p class="blog">
                    Il vino è una bevanda di antichissime origini, ottenuta dalla fermentazione alcolica dell’uva o del
                    succo d’uva, da parte dai lieviti.
                    <br>
                    Sinonimo di convivialità, è sempre presente in tavola quando ci riuniamo con amici e parenti, e
                    ancora di più quando ci sono occasioni importanti o durante le feste. L’acquisto di un buon vino non
                    è affatto semplice, però, perché non tutti siamo intenditori. La composizione, inoltre, va a
                    incidere sulla qualità e anche sulla nostra salute: l’aspetto che influisce maggiormente è la
                    quantità di <b>solfiti</b> contenuta <b>nei vini</b> e in questo articolo ci occuperemo proprio di
                    questo aspetto.
                </p>

                <h2 class="blog">SOLFITI: COSA SONO</h2>
                <img class="blogPost" src="../../assets/wine-2.jpg" alt="">
                <br><br><br><br>

                <p class="blog">
                    Come abbiamo spiegato in un precedente articolo, i <b>solfiti</b>, sono un gruppo eterogeneo e vasto
                    di composti, usati nel settore alimentare prevalentemente come additivi. Con la funzione principale
                    di conservanti, per contrastare l’ossidazione dei cibi e prevenire lo sviluppo microbico
                    indesiderato, vengono impiegati in forma <b>solida e in polvere</b>, o sotto forma di gas come nel
                    caso dell’anidride solforosa addizionata.
                    <br>
                </p>

                <h2 class="blog">I SOLFITI FANNO MALE ALL’UOMO? VEDIAMO COSA DICONO GLI STUDI</h2>
                <img class="blogPost" src="../../assets/wine-3.jpg" alt="">
                <br><br><br><br>

                <p class="blog">
                    Addizionati agli alimenti o presenti naturalmente nel prodotto, queste sostanza svolgono un ruolo
                    importante per conservare i cibi, ma fanno male all’uomo? quali effetti possono generare?
                    <br>
                    I solfiti vengono classificati, nel Reg UE 1169/2011, tra le 14 sostanze o prodotti che possono
                    provocare <b>allergie o intolleranza</b>. Ma la reazione ai solfiti, per i soggetti non
                    ipersensibili, non crea nessun disturbo, se non il classico mal di testa, mentre gli individui che
                    soffrono d’asma potrebbero risultare sensibili alla presenza di solfiti, e presentare sintomi come
                    fiato corto e difficoltà respiratorie.
                    <br>
                    Da alcuni dati è emerso che l’assunzione eccessiva di anidride solforosa potrebbe influire
                    negativamente sull’assimilazione di vitamina B1, ma su questo punto esistono pareri contrastanti. La
                    <b>dose giornaliera ammessa per legge di solfiti è di 0,7 g/kg</b>.
                    <br>
                    Al momento infatti, non vi sono timori o preoccupazioni elevate, riguardo l’assunzione di solfiti. A
                    dirlo è un gruppo di scienziati dell’ <b>EFSA</b> (autorità europea per la sicurezza alimentare),
                    che valutando il comportamento di sette solfiti, tra cui l’anidride solforosa, nel momento della
                    loro ingestione, ha confermato la possibilità che queste sostanze possano innescare delle reazioni
                    di intolleranza, in soggetti particolarmente sensibili, ma i dati scientifici risultano essere
                    limitati.
                    <br>
                    Il livello cumulativo, infatti, stabilito per i sette solfiti utilizzati risulta essere sufficiente
                    a tutelare i consumatori, ma l’EFSA si propone di rivedere questa conclusione, a seguito di maggiori
                    dati e studi scientifici, per ridurre i dubbi e confermare a pieno la sicurezza di queste sostanze.
                    <br>
                    Inoltre il gruppo di studiosi suggerisce di indicare in etichetta l’effettivo contenuto di solfiti o
                    anidride solforosa dei singoli alimenti, in modo tale che le persone sensibili o intolleranti
                    possano essere consapevoli del quantitativo che ingeriranno.
                </p>



                <h2 class="blog">QUALE AZIONE SVOLGE L’ANIDRIDE SOLFOROSA NEI VINI?</h2>
                <img class="blogPost" src="../../assets/wine-4.jpg" alt="">
                <br><br><br><br>

                <p class="blog">
                    L’ottenimento del vino si ha attraverso la fermentazione alcolica, operata da microrganismi, i
                    lieviti, a carico degli zuccheri presenti nella materia prima. I lieviti naturalmente presenti,
                    però, non riescono nella maggior parte dei casi a prendere il completo sopravvento sulle altre
                    comunità microbiche presenti spontaneamente nell’uva, che possono innescare fermentazioni spontanee
                    ed indesiderate, alterando il prodotto.
                    <br>
                    L’azione dell’<b>anidride solforosa, aggiunta durante il processo di vinificazione</b>, è quella di
                    inibire lo sviluppo di questi ceppi indesiderati e favorire lo sviluppo di lieviti utili alla
                    fermentazione. Molte volte, inoltre, la fermentazione viene guidata anche con l’inoculo di ceppi di
                    lieviti selezionati, come il Saccharomyces cerevisiae, idoneo per la produzione del vino.
                    <br>
                    Può svolgere inoltre una funzione antiossidante, in particolare nei vini bianchi, per bloccare la
                    produzione dell’aldeide acetica, un intermediario dell’acido acetico, evitando che il mosto, e così
                    anche il vino, si trasformi in aceto.
                </p>

            </div>
        </div>
    </div>



    <div id="footer">
        <div>
            <p>&copy; 2023 by UcripiMarket. All rights reserved.</p>
            <ul>
                <li>
                    <a href="https://twitter.com/explore" id="twitter">twitter</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" id="facebook">facebook</a>
                </li>
                <li>
                    <a href="https://myaccount.google.com/?tab=kk" id="googleplus">google plus</a>
                </li>
                <li>
                    <a href="https://www.pinterest.it/" id="pinterest">pinterest</a>
                </li>
            </ul>
        </div>
    </div>
</div>