<div>
  <ul>
    <li #Id *ngFor="let listItem of productList" [value]="listItem.Id">
      {{listItem.Nome}}
      {{listItem.Descrizione}}
      {{listItem.Prezzo}}
      {{listItem.Quantita}}
      {{listItem.Selected}}
      <button (click)="aggiungi(listItem.Id)" type="submit">Aggiungi</button>
    </li>
  </ul>

</div>
<div class=carrello>
  <button  (click)="getSelectList()">Rimuovi selezionati</button>
  <ul >
    <li *ngFor="let listItem of selectList" >
      {{listItem.Nome}}
      {{listItem.Prezzo}}
      {{listItem.message}}
      <button (click)="rimuovi(listItem.Id)" type="submit">Rimuovi</button>
      <button (click)="annulla(listItem.Id)" type="submit">Annulla Selezione</button>
    </li>
  </ul>
</div>

