<div class="caratteristiche">
    <div id="header">
   
      <a href="/home" class="logo">
        <img class="logo" src="../../assets/logo-listaSpesa.png" alt="">
      </a>
   
      <ul id="navigation">
        <li class="selected">
          <a href="/home">home</a>
        </li>
        <li>
          <a href="/lista">lista</a>
        </li>
        <li>
          <a href="/blog">blog</a>
        </li>
        <li>
          <a href="/contact">contact</a>
        </li>
      </ul>
    </div>
   
    <div id="body">
      <div id="featured">
        <img src="../../assets/img001.jpg" alt="">
        <div>
          <h2>Semplifica la tua spesa</h2>
          <span>Velocizza il processo di annotazione dei prodotti</span>
          <span>così da poter passare più tempo con la tua famiglia</span>
          <span>Noi siamo il futuro! non ti abbandoniamo.</span>
          <a href="/blog" class="more">Continua</a>
        </div>
      </div>
   
      <br>
   
      <div id="body">
        <h1><span>IL NOSTRO TEAM DI ESPERTI</span></h1>
      </div>
   
      <ul>
        <li>
            <img class="fotoProfilo" src="../../assets/rizzini.jpg" alt="">
            <h3><span>PROGRAMMATORE</span></h3>
        </li>
   
        <li>
            <img class="fotoProfilo" src="../../assets/pigolotti.jpg" alt="">
          <h3><span>GRAFICO</span></h3>
        </li>
   
        <li>
            <img class="fotoProfilo" src="../../assets/Uccellini.jpg" alt="">
            <h3><span>TECNICO</span></h3>
        </li>
      </ul>
    </div>
   
    <br>
   
    <div id="footer">
      <div>
        <p>&copy; 2023 by UcripiMarket. All rights reserved.</p>
        <ul>
          <li>
            <a href="https://twitter.com/explore" id="twitter">twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/" id="facebook">facebook</a>
          </li>
          <li>
            <a href="https://myaccount.google.com/?tab=kk" id="googleplus">google plus</a>
          </li>
          <li>
            <a href="https://www.pinterest.it/" id="pinterest">pinterest</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
  
 