/*Colore Verde: #96C866 */
/*Colore Rosso: #F47F83 */
/*Colore Nero: #444853 */

.caratteristiche {
	background: #ECF2E6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
}

/*Modifiche immagine LOGO*/
img.logo{
width:80%;
height:80%;
}

/*Modifiche immagini BLOG*/
img.blog{
	width:376px;
	height:295px;
}

/*--------------------Pagina Blog------------------------*/
h2.blog{
	color:#F47F83;
}
/*--------------------Fine Pagina Blog------------------------*/

p {
	color: Black;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
p a {
	color: Black;
	text-decoration: underline;
}
p a:hover {
	color: Black;
}
#header {
	margin: 0 auto;
	padding: 44px 0 50px;
	text-align: center;
	width: 960px;
}
#header a.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
}
#header a.logo img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#header ul {
	margin: 0;
	padding: 56px 0 0;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}

/*Modifiche barra ricerca */
#header ul li a {
	color: #444853;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 23px;
	text-decoration: none;
	text-transform: uppercase;
}

/*Modifica colore passaggio mouse su pagine no aperte nella barra ricerche*/
#header ul li a:hover {
	color: #96C866;
}

/*Modifica colore pagina selezionata nella barra ricerche*/
#header ul li.selected a {
	color: #F47F83;

}
#body {
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
}
#body h1 {
	color: #fff;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

/*Riquadro sotto barra ricerca - in Blog: "I nostri articoli"*/
#body h1 span {
	background: #96C866;
	display: inline-block;
	padding: 15px 28px 12px;
}


#body h3 {
	color: #fff;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#body h3 span {
	background: #444853; /* #F47F83; */
	display: inline-block;
	padding: 15px 48px 12px;
	width: 200px;
}


#body > div {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

/*Modifiche tutte immagini nel body*/
#body > div img {
	/*border: 2px solid #292929;*/
	margin: 24px 0 0;
	padding: 0;
}
#body > div .article {
	margin: 0 auto;
	padding: 30px 30px 0;
	width: 560px;
}
#body > div .article h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
}
#body > div .article h3 {
	color: black;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body > div .article h4 {
	background: Black;
	color: #fff;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 8px 27px 10px;
}
#body > div .article p {
	margin: 0 0 30px;
}
#body div ul {
	margin: 0;
	padding: 24px 10px 0;
	width: 940px;
}
#body div ul li {
	border: 2px solid #1a1a1a;
	display: block;
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
	padding: 0;
}
/*Posiziono e Modifiche immagini BLOG*/
#body div ul li .figure {
	border-right: 2px solid black;
	float: left;
	margin: 0;
	padding: 0;
	width: 376px;
}
#body div ul li img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}

#body div ul li div {
	float: left;
	margin: 0;
	padding: 63px 0 20px;
	width: 558px;
}
#body div ul li div h3 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body div ul li div p {
	padding: 30px 30px 18px;
}

/*Modifica impostazioni - Blog "Continua Lettura"*/
#body div ul li div a.more {
	background: #444853;
	color: #fff;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 8px 28px;
	text-decoration: none;
	text-transform: uppercase;
}

/*Modifica colore passaggio mouse - Blog "Continua Lettura"*/
#body div ul li div a.more:hover {
	color: #252525;
	background: #96C866;
	border: 2px solid #252525;

}
#body #featured {
	margin: 0 0 13px;
	padding: 0;
	position: relative;
	width: 100%;
}
#body #featured img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

/*Modifica posizione scritta HOME - "Semplifica la tua spesa" e altro testo su foto*/
#body #featured div {
	left: 50%;
	margin-left: -710px;
	margin-top: -171px;
	padding: 0 0 0 470px;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 490px;
}

/*Modifica Parametri scritta HOME - "Semplifica la tua spesa"*/
#body #featured div h2 {
	background: #F47F83;
	color: #444853;
	display: inline-block;
	font-family: Arial black, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 18px;
	padding: 23px 27px 20px;
	text-transform: uppercase;
}

/*Modifica Parametri scritta HOME - "e altro testo su foto*/
#body #featured div span {
	background: #96C866;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	margin: 7px 0;
	padding: 12px 27px;
}

/*Modifica impostazioni colore e posizione bottone pagina BLOG - Continua*/
#body #featured div a {
	background: #444853;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	margin: 15px 0 0;
	padding: 26px 27px 22px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/*Modifica impostazioni bottone al passaggio mouse "continua" HOME */
#body #featured div a:hover {
	background: #96C866;
	border: 2px solid #252525;
}
#body > ul {
	margin: 0 auto;
	overflow: hidden;
	padding: 24px 0 0;
	width: 960px;
}
#body > ul li {
	display: block;
	float: left;
	margin: 0 10px 20px;
	padding: 0;
	width: 300px;
}
#body > ul li a {
	color: #000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body > ul li a img {
	border: 2px solid #1a1a1a;
	display: block;
	margin: 0;
	padding: 0;
	opacity: .8;
	transition: 0.5s ease-in-out;
}
#body > ul li a:hover img {
	opacity: 1;
}
#body > ul li a span {
	display: block;
	margin: 0;
	padding: 33px 0 0;
}
#body form {
	margin: 0 auto;
	padding: 24px 0 0;
	width: 620px;
}

/*Modifica elementi inserimento pagina CONTATTO*/
#body form input, #body form textarea {
	border: 2px solid #252525;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 37px;
	padding: 20px 10px;
	text-align: left;
	text-transform: uppercase;
	width: 596px;
}
#body form textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}

/*Modifica tasto INVIA pagina Contattaci*/
#body form #send {
	border: 0px;
	background: #444853;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	padding: 20px 28px;
	width: auto;

}

/*Modifica tasto INVIA pagina Contattaci al passaggio mouse*/
#body form #send:hover {
	border: 2px solid #252525;
	font-size: 13px;
	background: #96C866;
	color: #252525;
	cursor: pointer;
}

/*Modifiche Footer*/
#footer {
	background: #444853;
	margin: 0;
	padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
#footer div ul li a {
	background: url(../../assets/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #twitter {
	background-position: 0 0;

}
#footer div ul li #twitter:hover {
	background-position: -44px 0;
}
#footer div ul li #facebook {
	background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer div ul li #googleplus {
	background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer div ul li #pinterest {
	background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
	background-position: -44px -132px;
}

img.blogPost{
	width: 70%;
	margin: 24px 0 0;
	padding: 0;
}






.square_btn{
    display: inline-block;
    padding: 7px 20px;
		border-radius: 25px;
    text-decoration: none;
		border: 2px solid #252525;
		background: #F47F83;
		color: #fff;

		font-family: Arial, Helvetica, sans-serif;
    /*background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);*/
    transition: .4s;
}

.square_btn:hover {
	border: 2px solid #252525;
	background: #96C866;
	color: #fff;
	cursor: pointer;
}

img.carrelloAggiungi{
	width:20%;
  height:20%;
}


input[type=number]{
	text-align: center;
}
