<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>  

 

  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a><button (click)="registrati(username.value, password.value)">Registrati</button></a>
    <a href="#contact">Contact</a>
    <div class="login-container">
      <form >
        <input type="text" #username placeholder="Username">
        <input type="password" #password placeholder="Password">
        <button (click)="login(username.value, password.value)">Login</button>
      </form>
    </div>
  </div>

 

  <br>

 

  <div style="width:100%;height:100%;">
    <img src="/assets/immagini/Img_Logo.jpg" alt="Logo" style="float:left;width:20%;height:100%;object-fit:cover;">
  </div>
  <br>

 

<div style="width:100%;height:100%;">
  <img src="/assets/immagini/sfondo.jpg" alt="Sfondo" style="float:left;width:100%;height:100%;object-fit:cover;">
</div>

 

</body>
</html>
